{% extends "loginbase.html" %}
{%block content%}
<div class="container px-4 py-5 mx-auto">
    <div class="card card0">
        <div class="d-flex flex-lg-row flex-column-reverse">
            <div class="card card1">
                <div class="row justify-content-center my-auto">
                    <div class="col-md-8 col-10 my-5">
                        <div class="row justify-content-center px-3 mb-3"> <a href="{% url 'login'%}"><img id="logo" src="/static/css/img/cart.png" width = 80></a></div>
                        <h3 class="mb-5 text-center heading">Smart K-art</h3>
                        <h6 class="msg-info">Sign-up</h6>
                        <div class="form-group">
                        <form action="" method="post">
                                {% csrf_token %}
                            <label class="form-control-label text-muted"> 회원 이메일 : <input type="text" name= "uemail" class="form-control"></label>
                            
                            <label class="form-control-label text-muted"> 비밀번호 : <input type="password" name= "upw" class="form-control"></label>
                            
                            <label class="form-control-label text-muted"> 비밀번호 재입력 : <input type="password" name= "upw2" class="form-control"></label>
                            
                            <br><span style="color:red;"><strong>{{ error }}</strong> </span>
                
                        <!--<input type = "submit" value="Sign up" class='btn-block btn-color'>-->
                        <div class="row justify-content-center my-3 px-3"> <button class="btn-block btn-color" type="submit">Sign up</button> </div>
                        
                        </form>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="card card2">
                 <div class="my-auto mx-md-5 px-md-5 right">
                     <h3 class="text-white">Smart K-art에<br> 오신것을 환영합니다. :> </h3> <h6 class="text-white">Smart K-art는 똑똑한 소비자를 위한 똑똑한 계산형 장바구니 서비스입니다.<br> 충동구매와 과소비를 방지할수 있어요!</h6>
                 </div>
             </div>
        </div>
    </div>
</div>
{%endblock%}

<!-- {% comment %} {% extends 'base.html'%}

{%block content %} {% endcomment %}

<div class= 'row'>
    <div class= 'col'></div>
    <div class= 'col-6'>
        <form action="" method="post">
            <div class = "alert alert-info"> Please enter your user information</div>
                {% csrf_token %}
            <label> 회원 이메일 : <input type="text" name= "uemail"></label>
            <br>
            <label> 비밀번호 : <input type="password" name= "upw"></label>
            <br>
            <label> 비밀번호 재입력 : <input type="password" name= "upw2"></label>
            <br>
            <span style="color:red;"><strong>{{ error }}</strong> </span>

        <input type = "submit" value="Sign up" class='btn btn-outline-info'>
        </form>
    </div>

    <div class="col"></div>

</div>

{% comment %} {% endblock %} {% endcomment %}-->

